[run]
source =
    src
    scripts

omit =
    */test_*.py
    */__pycache__/*
    */conftest.py
    */integration/*

[report]
show_missing = True
skip_covered = False
precision = 1

[html]
directory = htmlcov
